/*
body {
    font-size: 18px;
    font-family: Arial, SegoeUI, Time New Romans;
    height: 300px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}*/
.header {
  text-align: center;
  font-size: 110%; }

.display-center {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center; }

.tableformat {
  font-family: arial, sans-serif;
  width: 100%; }

td {
  border: 2px dashed #666666; 

}

th {
  border: 2px solid #666666;
 }


date {
  font-weight: 700;
  color: red;
}

.arrow-left {
  font-size: 24px;
  color: #999999;
  margin-right: 50px;

}

.arrow-right {
  font-size: 24px;
  color: #999999;
  margin-left: 50px;
}

/*
thead {
    font-weight: 700;
}

tr:nth-child(even) {
    background-color: #dddddd;
}*/
