/*
body {
    font-size: 18px;
    font-family: Arial, SegoeUI, Time New Romans;
    height: 300px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}*/

.header {
    text-align: center;
    color: red;
    font-size: 110%;
}



.display-center {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.tableformat {
    font-family: arial, sans-serif;
    //border-collapse: collapse;
    width: 100%;
    //border: 1px dashed #dee2e6;
}


td, th {
    border: 2px dashed #dddddd;
    //text-align: left;
    //padding: 8px;
}
th {
    border-bottom: 2px dashed #dddddd;
}

/*
thead {
    font-weight: 700;
}

tr:nth-child(even) {
    background-color: #dddddd;
}*/
